html, body
{
  height: 100%;
  margin: 0;
  padding: 0;
}

#content
{
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
}

#header
{
  background-color: #FFA000;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#title {
  margin: auto 10px;
}

#search{
  margin: auto 10px;
  flex-grow: 1;
  max-width: 500px;
}

.tt-menu {
  max-height: 300px;
  overflow-y: auto;
}

.twitter-typeahead, .tt-menu, .tt-hint, .tt-input {
  width: 100%;
  max-width: 500px;
}

.tt-dataset-nations {
  border: 1px solid black;
}

.tt-dataset-nations .tt-suggestion {
  min-height: 50px;
  background-color: #FFC107;
  border: 1px solid black;
}

#mainSvg
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

g {
  text-align: center;
}
.flag {
  border: 3px solid black;
  max-width: 180px;
  max-height: 100px;
}

.previewFlag{
  float: right;
  max-width: 90px;
  max-height: 50px;
}

.node {
  fill: #FFC107;
}

.overlay {
  fill: #808080;
  pointer-events: all;
}

.pathStart,.pathEnd {
  fill: black;
  cursor: pointer;
}

.highlighted {
  stroke: #536DFE;
}

.highlighted .pathStart, .highlighted .pathEnd{
  fill: #536DFE;
}

rect.highlighted {
  stroke: #536DFE;
  stroke-width: 10;
  stroke-alignment: outer;
}

.hidden {
  visibility: hidden;
}
