html, body
{
  height: 100%;
  margin: 0;
  padding: 0;
}

#content
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 75px;
}
#header
{
  background-color: #FFA000;
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#mainSvg
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

g {
  text-align: center;
}
.flag {
  border: 3px solid black;
  max-width: 180px;
  max-height: 100px;
}

.node {
  fill: #FFC107;
}

.overlay {
  fill: #FFFFFF;
  pointer-events: all;
}

.pathStart,.pathEnd {
  fill: black;
  cursor: pointer;
}

.highlighted {
  stroke: #536DFE;
}

.highlighted .pathStart, .highlighted .pathEnd{
  fill: #536DFE;
}

.hidden {
  visibility: hidden;
}
